{{#section 'head'}}
    <link rel="stylesheet" href="/css/wrap.css">
{{/section}}

<div class="wrap">
    <p id="name">{{user.name}}</p>

    <p>Побед: {{user.wins}}</p>
    <p>Поражений: {{user.losses}}</p>

    <a href="/exit">Выйти из аккаунта</a>
</div>
