{{#section 'head'}}
    <link rel="stylesheet" href="/css/wrap.css">
{{/section}}

<div class="wrap">
    <p>Доступных игр нет.</p>
    <p>Предлогаем вам создать свою игру:</p>
    <form action="/game" method="post">
        <button>Создать игру</button>
    </form>
</div>
