{{#section 'head'}}
    <link rel="stylesheet" href="/css/sign.css">
{{/section}}

<div class="sign">
    <h2>Вход</h2>
    <form action="#" method="POST">
        <label for="name">Имя пользователя</label>
        <input type="text" name="name" id="name" required>
        <label for="password">Пароль</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Войти</button>
    </form>

    <p>{{ message }}</p>

    <p>Ещё нет аккаунта? <a href="/signin">Создать</a></p>
</div>
